body{
    background-color: rgb(49, 41, 41);
}
section {
      padding-bottom:5px;
      background-color: black;
}
div.mycontainer{
    width:100%;
    overflow: hidden;
    border: 60px;
    
}
div.mycontainer div{
    width:7%;
    float: left;
    font-size:10px;
}
div h1{
     color: white;
     font-size: 15px;

}
figure {
position: relative;
}
figure img {
display: block;
border-radius: 50%;
height: 250px;
}
figcaption {
color: #FFF;
position: absolute;
bottom: 0;
left: 0;
right: 0;
}     